<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-img src="/assets/onco.png" alt="Onco Mind logo" slot="end"></ion-img>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <p style="color: #236CF9;">Algumas dicas para lidar com o diagnóstico de câncer na família são:</p>
 <p style="color: #236CF9;">Evitar comparar a situação do paciente com a de outras pessoas</p>
  <p style="color: #236CF9;">Evitar usar linguagem que possa fazer o paciente se sentir culpado</p>
  <p style="color: #236CF9;">Evitar dar opiniões sobre terapias ou medicações</p>
  <p style="color: #236CF9;">Evitar mencionar religião ou espiritualidade</p>
  <p style="color: #236CF9;">Evitar sobrecarregar o paciente com os próprios sentimentos sobre a doença</p>
  <p style="color: #236CF9;">Buscar apoio emocional</p>
  <p style="color: #236CF9;">Não se cobrar tanto...</p>
<ion-toolbar>
  <ion-title style="color: #236CF9;">CUIDE-SE</ion-title>
</ion-toolbar>
</ion-content>
<ion-footer>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center" style="font-size: 0.9rem; color: black;">
      © 2024 Onco Mind - Todos os direitos reservados
    </ion-title>
  </ion-toolbar>
</ion-footer>