<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-img src="/assets/onco.png" alt="Onco Mind logo" slot="end"></ion-img>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="title">Algumas Dicas</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p class="content-text">Evitar comparar a situação do paciente com a de outras pessoas</p>
      <p class="content-text">Evitar usar linguagem que possa fazer o paciente se sentir culpado</p>
      <p class="content-text">Evitar dar opiniões sobre terapias ou medicações</p>
      <p class="content-text">Evitar mencionar religião ou espiritualidade</p>
      <p class="content-text">Evitar sobrecarregar o paciente com os próprios sentimentos sobre a doença</p>
      <p class="content-text">Buscar apoio emocional</p>
      <p class="content-text">Não se cobrar tanto...</p>
    </ion-card-content>
  </ion-card>

  <ion-toolbar>
    <ion-title class="title">CUIDE-SE</ion-title>
  </ion-toolbar>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center" style="font-size: 0.9rem; color: black;">
      © 2024 Onco Mind - Todos os direitos reservados
    </ion-title>
  </ion-toolbar>
</ion-footer>