<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-menu-button slot="start"></ion-menu-button>
      <ion-img src="/assets/onco.png" alt="Onco Mind logo" slot="end"></ion-img>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" style="display: flex; flex-direction: column; height: 100%;">
  
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center" style="font-size: 0.9rem; color: black;">
      © 2024 Onco Mind - Todos os direitos reservados
    </ion-title>
  </ion-toolbar>
</ion-footer>