<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-img src="/assets/onco.png" alt="Onco Mind logo" slot="end"></ion-img>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" style="display: flex; flex-direction: column; height: 100%;">

  <ion-list lines="none">
    <ion-list-header>
      <ion-label>Agendamentos</ion-label>
    </ion-list-header>

    <ion-item *ngFor="let schedule of schedules">
      <ion-card class="schedule-card">
        <ion-card-content>
          <div>
            <ion-label>{{ schedule.clinic.name }}</ion-label>
          </div>
          <div style="margin-block: .5rem;">
            <ion-label>{{ schedule.doctor.name }}</ion-label>
          </div>
          <div>
            <ion-label>{{ schedule.date | formatDate }}</ion-label>
          </div>
        </ion-card-content>
        <div class="schedule-card_actions">
          <ion-button fill="outline" color="primary" (click)="editSchedule(schedule)">
            <ion-icon slot="icon-only" name="create"></ion-icon>
          </ion-button>
          <ion-button fill="outline" color="danger" (click)="deleteSchedule(schedule)">
            <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
          </ion-button>
        </div>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center" style="font-size: 0.9rem; color: black;">
      © 2024 Onco Mind - Todos os direitos reservados
    </ion-title>
  </ion-toolbar>
</ion-footer>