/* Estilo para a imagem */
ion-img {
    height: 70px;
    width: 70px;
    object-fit: cover;
}

/* Estilos para o conteúdo do cartão de créditos */
ion-card {
    max-width: 600px;
    margin: 0 auto; /* Centraliza o cartão na página */
    padding: 20px;
    background-color: transparent; /* Fundo transparente */
    border-radius: 10px;
    box-shadow: none; /* Remove a sombra do cartão */
}
  
ion-card-header {
    text-align: center; /* Centraliza o título dentro do cartão */
    background-color: transparent; /* Fundo transparente para o header */
    padding: 15px;
}
  
/* Títulos (em caixa alta e negrito) */
.title {
    text-transform: uppercase; /* Títulos em caixa alta */
    font-weight: bold; /* Títulos em negrito */
    font-size: 1.2rem;
    color: #236CF9; /* Cor do título (azul) */
}
  
ion-card-content {
    text-align: center; /* Centraliza o conteúdo dentro do cartão */
    font-size: 1rem;
    padding: 20px;
    color: #ffffff; /* Cor do texto (branco) */
}
  
ion-card-content p {
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase; /* Títulos em caixa alta */
    margin-bottom: 10px;
    color: #ffffff; /* Cor do texto (branco) */
}
  
ul {
    list-style-type: none;
    padding: 0;
}
  
ul li {
    font-size: 1rem;
    line-height: 1.8;
    color: #ffffff; /* Cor do texto (branco) */
}
  
ul li strong {
    font-weight: normal; /* Nomes em formato normal */
    font-size: 1rem;
    color: #ffffff; /* Cor do texto (branco) */
}
  
/* Estilos para os textos */
ion-card-content ul li {
    font-weight: normal;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 10px;
    color: #ffffff; /* Cor do texto (branco) */
}
