<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-img src="/assets/onco.png" alt="Onco Mind logo" slot="end"></ion-img>
    <ion-title>Créditos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="title">EQUIPE DE DESENVOLVIMENTO</ion-card-title>
    </ion-card-header>
    <ion-card-content class="content">
      <p><strong>API E DATABASE</strong></p>
      <ul>
        <li><strong>Lucas Rocha da Costa</strong></li>
      </ul>

      <p><strong>API BACK-END</strong></p>
      <ul>
        <li><strong>Rafael Luna de Oliveira Pereira</strong></li>
        <li><strong>Talita de Almeida Carvalho</strong></li>
      </ul>

      <p><strong>FRONT-END</strong></p>
      <ul>
        <li><strong>Bruno da Silva Jesuino</strong></li>
        <li><strong>Eduardo Luiz Anésio</strong></li>
        <li><strong>Pedro Henrique Marques de Alcantara</strong></li>
      </ul>
      
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center" style="font-size: 0.9rem; color: black;">
      © 2024 Onco Mind - Todos os direitos reservados
    </ion-title>
  </ion-toolbar>
</ion-footer>